
body {
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: 'Libre Franklin', sans-serif;

}

.jumbotron {
  background-color: #0039A9;
  height: 400px;
  text-align: left;
  color: white;

}



.card {
  background-color: #9E0000;
  border-radius: 6px;
  color: white;
  padding: 20px;
  width: 350px;
  height: 150px;
  float: left;
  margin: 10px;
}
.repcard{
  background-color: #9E0000;
  border-radius: 6px;
  color: white;
  padding: 20px;
  width: 350px;
  height: 300px;
  float: left;
  margin: 10px;

}
.repcard img {

  width: 20%;
}


.input-group {
  padding-bottom: 40px;
}

.mainpg {
text-align: center;
}



/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #0039A9;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
