<!-- Login Form -->
<div class="center-align container z-depth-4 white">
    <form id='login' ng-submit='login.submit()'>
        <h2 class="title">Log In</h2>
        <input type='text' ng-model='login.email' placeholder='Email' />
        <input type='password' ng-model='login.password' placeholder='Password' />
        <br>
        <br>
        <button class="input-group-btn btn waves-effect waves-light" type="submit" name="action">Login
              <i class="material-icons right">send</i>
            </button>
    </form>
    <a href='register.html'>Don't have an account?</a>
</div>
