<!-- Search function  -->

<section id="search">
    <div class="lead container z-depth-4 #cfd8dc blue-grey lighten-4">
        <p>
            Use the search box below to enter your address and find out where you need to go to vote!
        </p>

        <div class="input-group">
            <input type="text" class="form-control" ng-model="civ.searchQuery" placeholder="Enter your address" name="srch-term" id="srch-term">
            <div class="center-align input-group-btn">
                <button class="btn waves-effect waves-ligh #607d8b blue-grey" type="submit" name="action" ng-click="civ.getInfo()">Submit
                  <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
</section>


<!-- Result Cards -->
<div class="container">
    <div class='card' ng-repeat="poll in civ.pollArray">
        <h4> Name: {{poll.address.locationName}} </h4>
        <h4> City: {{poll.address.city}} </h4>
        <h4> Address: {{poll.address.line1}} </h4>
    </div>
</div>
