<!-- Search function -->

<section id="search">
    <div class="container z-depth-4 #cfd8dc blue-grey lighten-4">
        <p class="lead">
            Enter your state!
        </p>

        <div class="input-group">
            <input type="text" class="form-control" ng-model="civ.repQuery" placeholder="Enter your address" name="srch-term" id="srch-term">
            <div class="center-align input-group-btn">
                <button class="btn waves-effect waves-ligh #607d8b blue-grey" type="submit" name="action" ng-click="civ.getReps()">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
        </div>
    </div>
</section>



<!-- Result Cards  -->
<div class="container">
    <div class='repcard' ng-repeat="rep in civ.officeOfficals">
        <img src='{{rep.officialPhoto}}'></img>
        <h4>{{rep.officeName}}</h4>
        <h4>{{rep.officialName}}</h4>
        <h4>{{rep.officialParty}}</h4>
    </div>
</div>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{rep.officialName}}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
