<div class="jumbotron">
    <div class="container">
        <h1>Let's Build a Better World</h1>
        <h3>Providing the tools for a more active, functional democracy.</h3>


    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <i class="fa fa-user"></i>
  </div>
  <div class="col-md-6">
    <i class="fa fa-desktop"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <p> Learn about who represents you and your interests in Congress. </p>
  </div>
  <div class="col-md-6">
    <p>Use the transformative nature of technology and the internet to become a more involved, aware citizen. </p>
  </div>
</div>
