<div class="jumbotron">
    <div class="container">
        <h1>Let's Build a Better World</h1>
        <h3>Providing the tools for a more active, functional democracy. </h3>


    </div>
</div>



<!-- Search function -->
<div class="container">
    <section id="search">
        <p class="lead">
            Use the search box below to enter your address and find out where you need to go to vote!
        </p>

<div class="input-group">
    <input type="text" class="form-control" ng-model="civ.searchQuery" placeholder="Enter your address" name="srch-term" id="srch-term">
    <div class="input-group-btn">
        <button class="btn btn-default btn-primary" type="submit" ng-click="civ.getInfo()">
          <i class="glyphicon glyphicon-search"></i>
          </button>
    </div>
    <div class="inner cover" ng-show="civ.myData">
        <h1 ng-repeat="data in civ.myData.data">
       {{data.pollingLocations}}  <br/>
    </h1>
    </div>
</div>
</section>
</div>
