
    <!-- Search function -->
<div class="container">
    <section id="search">
        <h2>{{civ.myData.kind}}</h2>
        <p class="lead">
            Use the search box below to enter your address and find out where you need to go to vote!
        </p>


        <div class="input-group">
            <input type="text" class="form-control" ng-model="civ.myCiv" placeholder="Enter your address" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default btn-primary" type="submit">
          <i class="glyphicon glyphicon-search"></i>
          </button>
            </div>
        </div>
    </section>
</div>
