<div class="jumbotron">
    <div class="container">
        <h1>Let's Build a Better World</h1>
        <h3>Providing the tools for a more active, functional democracy. </h3>


    </div>
</div>

<!-- Search function -->
<div class="container">
    <section id="search">
        <p class="lead">
            Use the search box below to enter your address and find out who represents you in Congress!
        </p>

        <div class="input-group">
            <input type="text" class="form-control" ng-model="civ.repQuery" placeholder="Enter your address" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default btn-primary" type="submit" ng-click="civ.getReps()">
          <i class="glyphicon glyphicon-search"></i>
          </button>
            </div>
        </div>
    </section>
</div>



<!-- Result Cards  -->
<div class="container">
    <div class='repcard' ng-repeat="rep in civ.officeOfficals">
        <img src='{{rep.officialPhoto}}'></img>
        <h4>{{rep.officeName}}</h4>
        <h4>{{rep.officialName}}</h4>
        <h4>{{rep.officialParty}}</h4>
    </div>
</div>
