<!DOCTYPE html>
<html ng-app="module.login">

<head>
    <meta charset="utf-8">
    <title> Civility </title>
    <!-- Compiled and minified Materialize CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="/js/module.login.js"></script>
    <script src="/js/controller.home.js"></script>

    <!-- Popeye -->
    <script src="path/to/angular-popeye/release/popeye.js"></script>
</head>

<body ng-controller='controller.login as login'>
    <!-- Navigation -->

    <nav>
        <div class="nav-wrapper #1976d2 blue darken-2">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Poll Finder</a></li>
                <li><a href="#">Rep Finder</a></li>
                <li><a href="#">Open Secrets</a></li>
            </ul>
        </div>
    </nav>

    <!-- Login Form -->
    <form id='login' ng-submit='login.submit()'>
        <input type='text' ng-model='login.email' placeholder='Email' />
        <input type='password' ng-model='login.password' placeholder='Password' />
        <button type='submit'>Login</button>
        <a href='#'>Password</a>
    </form>
</body>

</html>
